.configuratorPageWrapper {
  width: 100%;
  height: 100%;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0 5vw;

  font-size: 2rem;

  .contentPageWrapper {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .viewerSide {
      width: 100%;
      height: 100%;

      transition: all .45s ease;
    }

    .settingsSide {
      height: 100%;
      width: fit-content;
      position: relative;

      // todo remove next styles when we will have sidebar
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.5rem;
    }

    .content {
      width: 100%;
      height: 100%;

      padding: 3.125rem 0;
    }

    .openedSidebar {
      width: calc(100% - 34.875rem);
    }

    .closedSidebar {
      width: 100%;
    }

    .open {
      width: 34.875rem;
      transition: all .45s ease;
    }

    .close {
      width: 0;
      transition: all .45s ease .5s;
    }

    .show {
      width: 34.875rem;
      opacity: 1;
      transition: all .45s ease .5s;
      pointer-events: auto;
    }

    .hide {
      width: 34.875rem;
      opacity: 0;
      transition: all .3s ease;
      pointer-events: none;
    }

    .closeBtn {
      cursor: pointer;
      position: absolute;
      padding: 0.5rem;

      top: 50%;
      left: -3.125rem;

      transform: translateY(-50%);
      transition: transform .35s ease;

      &:hover {
        transform: translateY(-50%) translateX(30%);
      }

      svg {
        width: 1.375rem;
        height: 3.75rem;
      }
    }

    .rotateBtn {
      padding: 0.5rem;
      transform: rotate(180deg) translateY(50%);

      &:hover {
        transform: rotate(180deg) translateY(50%) translateX(20%) !important;
      }
    }
  }
}
