.modelViewerWrapper {
  width: 100%;
  height: 100%;

  .modelTitleContainer {
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
      text-transform: uppercase;
      margin: 0;

      font-family: Orbitron, sans-serif;
      font-size: 3.125rem;
      font-weight: 500;
      line-height: 3.91875rem;
      letter-spacing: 0.01em;
      text-align: center;

      background: var(--main-gradient); /* Градієнт від зеленого до синього */
      -webkit-background-clip: text; /* Вирізає фон текстом */
      -webkit-text-fill-color: transparent; /* Зробить текст прозорим, щоб показати фон */
      background-clip: text;
    }
  }
  .sceneContainer {
    position: relative;
    width: 100%;
    height: 85%;
    background: #FFFFFF;

    .rotateIcon {
      cursor: pointer;
      position: absolute;
      bottom: 3%;
      left: 50%;

      svg {
        width: 2.9375rem;
        height: 1.6875rem;
        transition: all .35s ease;
      }

      &:hover {
        transform: scale(.95);
      }
    }

    .animate {
      animation: pulse 2s infinite;
    }
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
    filter: drop-shadow(0 0 0.3125rem var(--main-light));
  }
  50% {
    transform: scale(1.1);
    filter: drop-shadow(0 0 0.9375rem var(--main-dark));
  }
  100% {
    transform: scale(1);
    filter: drop-shadow(0 0 0.3125rem var(--main-light));
  }
}
